.popup-overlay {
    position: fixed; /* Assure que le pop-up est fixé par rapport à la fenêtre */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Assurez-vous que le z-index est supérieur à celui de la carte */
}

.popup {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001; /* Le pop-up doit être au-dessus de l'overlay */
}

.popup button {
    margin-top: 10px;
}
