.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: #ffffff ; {/*#cac7c7*/}
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  position: fixed;
  top: 2%; /* Title at 5% of the top of the page */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center */
  font-size: 4.5rem;
  color: #333333;
  margin: 0;
}

.map-sidebar-container {
  display: flex;
  width: 100%;
  height: 70%; /* Adjust this value as needed */
  margin-top: 2%;
}

.map-container {
  flex: 2; /* The map takes all the space except the textual container */
  height: 100%; /* The map uses all the height */
}

.map {
  flex: 2; /* Adjust the flex value to control the width of the map */
  height: 100%;
}

.text-sidebar {
  flex: 1; /* Adjust the flex value to control the width of the sidebar */
  height: 100%;
  overflow-y: auto; /* Make the sidebar scrollable */
  background-color: white; /* Optional: Add a background color for better visibility */
  padding: 10px; /* Optional: Add some padding for better spacing */
}

.buttonContainer {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 15px;
}

.buttonGlobalContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Button aligned on the left*/
  width: 100%;
  margin-top: 10%; /* Space between Title and buttons */
  gap: 2px; /* Space between each button */
}

.button {
  padding: 6px 8px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: white;
  background-color: #737373;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 2%;
  margin-left: 2%;
  white-space: nowrap;
}

.button:hover {
  background-color: #b8b8b8;
  transform: scale(1.05);
  border-radius: 8px;
}

.button:active {
  transform: translateY(1%); /* Pression effect on the Click */
}

.inputField {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.inputField:focus {
  border-color: #007bff;
  outline: none;
}

.courierCounter {
  margin: 0 10px;
  font-size: 1.2rem;
  color: #333;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #3d5978;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #485d77;
}

.custom-courier-counter {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center; /* Centre le contenu */
  margin-right: 4%;
  margin-left: 4%;
  white-space: nowrap;
  gap: 10px;
}
